<div class="witch-iron chat-card mob-loss-card">
  <header class="card-header">
    <h3>Mob Losses</h3>
  </header>
  <div class="card-content">
    {{#if success}}
      <p>{{mob}} holds together despite heavy losses.</p>
    {{else}}
      <p>{{mob}} routs and is destroyed!</p>
    {{/if}}
  </div>
</div>
