<div class="witch-iron-card">
    <div class="card-header">
        <i class="fas fa-crossed-swords"></i>
        <h3>Quarrel Initiated</h3>
    </div>
    <div class="card-content">
        <div class="quarrel-combatants">
            <div class="quarrel-initiator">
                <span class="combatant-name">{{initiator}}</span>
                <span class="combatant-hits">{{hits}} hits</span>
            </div>
            <div class="quarrel-arrow">
                <i class="fas fa-long-arrow-alt-right"></i>
            </div>
            <div class="quarrel-responder">
                <span class="combatant-name">{{responder}}</span>
                <span class="combatant-hits">Awaiting response...</span>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="quarrel-status">Quarrel in progress</div>
    </div>
</div> 