<div class="witch-iron chat-card quarrel-initiated">
    <div class="quarrel-header">
        <i class="fas fa-crossed-swords"></i>
        <span class="quarrel-title">Quarrel Initiated!</span>
    </div>
    <div class="quarrel-content">
        <span class="initiator-name">{{initiatorName}}</span>
        <span class="vs-separator">vs</span>
        <span class="target-name">{{targetName}}</span>
    </div>
</div> 