<div class="witch-iron chat-card rout-result-card">
  <header class="card-header">
    <h3>Rout Check</h3>
  </header>
  <div class="card-content">
    {{#if success}}
      <p><strong>{{actor}}</strong> holds their ground.</p>
    {{else}}
      <p><strong>{{actor}}</strong> routs!</p>
    {{/if}}
  </div>
</div>
